<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DomesticOrWildAnimalColorMapper.xml">
    <insert id="insertDomesticOrWildAnimalColor" parameterType="com.mycompany.app.models.DomesticOrWildColor">
        INSERT INTO DomesticOrWildAnimalColors (Color, Shade) values (#{color}, #{shade})
    </insert>
    <select id="selectDomesticOrWildAnimalColor" parameterType="int" resultType="hashmap">
        SELECT * FROM DomesticOrWildAnimalColors WHERE ID = #{id}
    </select>
    <update id="updateDomesticOrWildAnimalColor">
        UPDATE DomesticOrWildAnimalColors set Color = #{color} WHERE ID = #{id}
    </update>
    <delete id="deleteDomesticOrWildAnimalColor" parameterType="int">
        DELETE from DomesticOrWildAnimalColors where ID = #{id}
    </delete>
</mapper>
