<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DomesticOrWildAnimalMapper.xml">
    <insert id="insertDomesticOrWildAnimal" parameterType="com.mycompany.app.models.DomesticOrWildAnimal">
        INSERT INTO DomesticOrWilds (Type, IsDomesticated, Animal_ID) values (#{domesticOrWildType}, #{isDomesticated},
        #{animalID})
    </insert>
    <select id="selectDomesticOrWildAnimal" parameterType="int" resultType="hashmap">
        SELECT ID, Type, IsDomesticated, Animal_ID FROM DomesticOrWildAnimals WHERE ID = #{id}
    </select>
    <update id="updateDomesticOrWildAnimal" parameterType="com.mycompany.app.models.DomesticOrWildAnimal">
        UPDATE DomesticOrWildAnimals set Type = #{domesticOrWildType}, IsDomesticated = #{isDomesticated},
        Animal_ID = #{animalID} WHERE ID = #{domesticOrWildID}
    </update>
    <update id="updateAnimalForeignKey" parameterType="int">
        UPDATE DomesticOrWildAnimals set Animal_ID = NULL where Animal_ID = #{id}
    </update>
    <delete id="deleteDomesticOrWildAnimal" parameterType="int">
        DELETE from DomesticOrWildAnimals where ID = #{id}
    </delete>
</mapper>
