<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HomeContinentMapper.xml">
    <insert id="insertHomeContinent" parameterType="com.mycompany.app.models.HomeContinent">
        INSERT INTO HomeContinents (HomeContinent, WildAnimal_ID) values (#{continent}, #{wildAnimalID})
    </insert>
    <select id="selectHomeContinent" parameterType="int" resultType="hashmap">
        SELECT ID, HomeContinent, WildAnimal_ID FROM HomeContinents WHERE ID = #{id}
    </select>
    <update id="updateHomeContinent" parameterType="com.mycompany.app.models.HomeContinent">
        UPDATE HomeContinents set HomeContinent = #{continent}, WildAnimal_ID = {wildAnimalID} WHERE ID = #{continentID}
    </update>
    <update id="updateWildAnimalForeignKey" parameterType="int">
        UPDATE HomeContinents set WildAnimal_ID = NULL WHERE WildAnimal_ID = #{id}
    </update>
    <delete id="deleteHomeContinent" parameterType="int">
        DELETE from HomeContinents where ID = #{id}
    </delete>
</mapper>
