<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WildAnimalMapper.xml">
    <insert id="insertWildAnimal" parameterType="com.mycompany.app.models.WildAnimal">
        INSERT INTO WildAnimals (Type, Animal_ID) values (#{wildAnimalType}, #{animalID})
    </insert>
    <select id="selectWildAnimal" parameterType="int" resultType="hashmap">
        SELECT ID, Type, WildAnimal_ID FROM WildAnimals WHERE ID = #{id}
    </select>
    <update id="updateWildAnimal" parameterType="com.mycompany.app.models.WildAnimal">
        UPDATE WildAnimals set Type = #{wildAnimalType}, Weight = #{weight} WHERE ID = #{wildAnimalID}
    </update>
    <update id="updateAnimalForeignKey" parameterType="int">
        UPDATE WildAnimals set Animal_ID = NULL where Animal_ID = #{id}
    </update>
    <delete id="deleteWildAnimal" parameterType="int">
        DELETE from WildAnimals where ID = #{id}
    </delete>
</mapper>
