<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WildAnimalColorMapper.xml">
    <insert id="insertWildAnimalColor" parameterType="com.mycompany.app.models.WildAnimalColor">
        INSERT INTO WildAnimalColors (Color, Shade) values (#{color}, #{shade})
    </insert>
    <select id="selectWildAnimalColor" parameterType="int" resultType="hashmap">
        SELECT ID, Color, Shade FROM WildAnimalColors WHERE ID = #{id}
    </select>
    <update id="updateWildAnimalColor" parameterType="com.mycompany.app.models.WildAnimalColor">
        UPDATE WildAnimalColors set Color = #{color}, Shade = #{shade} WHERE ID = #{colorID}
    </update>
    <delete id="deleteWildAnimalColor" parameterType="int">
        DELETE from WildAnimalColors where ID = #{id}
    </delete>
</mapper>
